body{
    font-family: Arial, sans-serif;
    background-color: rgba(159, 96, 96, 0.564);
    margin: 0;
    padding: 0;

}

.grid-gallery-container{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      gap: 10px;
      padding: 20px;
      height: 400px;
}

.grid-gallery-item{
    border: 2px ;
    border-radius: 5px;
    overflow: hidden;
}

.grid-gallery-item img{
    width: 300px;
    height:auto;
}

